#login_win {
    width: 400px;
    height: 533px;
    background-color: #ffffff;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #000000;
}

body {
    background-color: #efefef;
}

input {
    width: 240px;
    height: 40px;
    /*padding: 12px 20px;*/
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 80px;
}

button {
    background-color: #bd081c; /* Green */
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    margin-left: 80px;
    width: 240px;
    height: 40px;
}

#main {
    height: 56px;
    width: 100vw;
    background-color: aqua;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}