<!DOCTYPE html>
<html>
<head>
  <title>test page</title>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="999279785788-p30fuj9scbca5aaoita0387c53tjkrlr.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1243279955781066',
            xfbml      : true,
            version    : 'v2.9'
        });
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<h1>login</h1>
  <form method="post" action="/gooduser">
      Username:<input name="username" type="text"><br />
      Password:<input name="password" type="password"><br />
      <button type="submit">Login</button>
  </form>
    <br /><br/>
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
</fb:login-button>
<br />
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<script>
    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
    };
</script>
    <br/><br/>
<h1>new user</h1>
  <form method="post" action="/newuser">
      Name:<input name="names" type="text"><br />
      Username:<input name="username" type="text"><br />
      Email:<input name="email" type="email"><br />
      Password:<input name="password" type="password"><br />
      <button type="submit">add user</button>
  </form>
  <br /><br/>
<h1>upload photo</h1>
    <form method="post" action="/upload" encType="multipart/form-data">
        Picture:<input type="file" name="file" /><br />
        Description:<input type="text" name="dec"><br />
        <button type="submit">upload</button>
    </form>
<script>
function checkLoginState() {
FB.getLoginStatus(function(response) {
statusChangeCallback(response);
});
}

function statusChangeCallback(response) {
    console.log(response);
}
</script>
</body>
</html>
