<!DOCTYPE html>
<html>
<head>
    <title>test page</title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="/js/functions.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body onload="getImg()">
<div id="main" >
title bar
</div>
<div id="img">
</div>
</body>
</html>