<!DOCTYPE html>
<html>
<head>
    <title>test page</title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="/js/functions.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body onload="getImg()">
<div id="main" >
    <img id="logo" src="/img/logo.gif">
    <div id="but">
        <button id="upload" type="button">Upload</button>
        <button id="logout" type="button">Logout</button>
    </div>
</div>
<div class="upload" id="menu">
    <img id="newImg">
    <button id="edit" type="button">Edit</button>
    <button id="del" type="button">Delete</button>
</div>
<div class="pic" id="menu">
</div>
<div id="img">
</div>
</body>
</html>